pipeline/incremental load.json
{
	"name": "incremental load",
	"properties": {
		"activities": [
			{
				"name": "get max modified date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select max([Last_m]) as Last_m\nfrom tbluser",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "source_table",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "last modified date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select [LastLoadDate] as LastLoadDate\nfrom tblControl",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "control_table",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy inc data from source to target",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get max modified date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "last modified date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from tbluser\nwhere Last_m <= '@{activity('get max modified date').output.firstRow.Last_m}'\nand Last_m > '@{activity('last modified date').output.firstRow.LastLoadDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "source_table",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "destination_table",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "update control table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy inc data from source to target",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SPUpdateLoadInfo]",
					"storedProcedureParameters": {
						"ModifiedDate": {
							"value": {
								"value": "'Select max([Last_m]) as Last_m\nfrom tbluser'",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "'tbluser'",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaselinkedservice",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-12-31T07:31:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}